<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>newlife</title>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>

	<body>
		<div id="wrapper">
			<div class="inner_wrapper">
				<div id="header">
					<h1 class="logo"><a href="#">Нове життя</a></h1>
					
						<ul class="navigation">
                            <jdoc:include type="modules" name="position-1" style="rounded"/>
                        </ul>
					
                    <ul class="slideshow">
                        <jdoc:include type="modules" name="position-2" style="rounded"/>

                    </ul> 
				</div>
				<div class="guidance">
						<p>"Служити б радий, та прислужувати тошно" А.Грибоєдов</p>
						<h2>Вітаємо на сайті</h2>
						<ul class="social_links">
							<li class="fb"><a href="#">Facebook</a></li>
							<li class="tw"><a href="#">Twitter</a></li>
						</ul>
				</div>
				<div id="content">
					<div class="sidebar">
						<ul class="preaches">
                            <jdoc:include type="modules" name="position-3" style="rounded"/>
						</ul>
						<div class="quote">
                            <jdoc:include type="modules" name="position-4" style="rounded"/>
						</div>
						<a class = "tw_link" href="#">слідкуйте за нами в twitter</a>
					</div>
					<div class="container">
						<p>Вітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текстВітальний текст</p>
						<h3>Оновлення</h3>
						<ul class="news">
							<li>
								<h4>20.09.11</h4>
								<a href="#"><img src="images/video_img.png" alt="видео"/></a>
								<h5>Вільям Пол Янг</h5>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and</p>
							</li>
							<li class="audio">
                                <h5>Неизвестный исполнитель - Аудиодорожка №1</h5>
                                <h4>20.09.11</h4>

                                <a href="#"></a>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum i</p>
							</li>
							<li>
								<h4>20.09.11<span></span></h4>
								<a href="#"><img src="images/video_img2.png" alt="видео"/></a>
								<h5>Неповрежденное Евангелие</h5>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and</p>
							</li>
							
						</ul>
					</div>
				</div>
				<div id="footer">
					<p>2011, &copy; Церква «Нове життя» <a href="#">Jason-designer</a></p>
					
				</div>
			</div>
		</div>

        <jdoc:include type="modules" name="position-5" style="rounded"/>
        <jdoc:include type="modules" name="position-6" style="rounded"/>
        <jdoc:include type="modules" name="position-7" style="rounded"/>
        <jdoc:include type="modules" name="position-8" style="rounded"/>
        <jdoc:include type="modules" name="position-9" style="rounded"/>
        <jdoc:include type="modules" name="position-10" style="rounded"/>
        <jdoc:include type="modules" name="position-11" style="rounded"/>
        <jdoc:include type="modules" name="position-12" style="rounded"/>
        <jdoc:include type="modules" name="position-13" style="rounded"/>
        <jdoc:include type="modules" name="position-14" style="rounded"/>
        <jdoc:include type="component" />
        <jdoc:include type="modules" name="debug" style="rounded"/>



    </body>
</html>
