/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body {
    width:100%;
    height:100%;
}
body {
    padding:0;
    margin:0;
    font-size:12px;
    font-family: "Myriad Pro", sans-serif;
    color:#000;

}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }



/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

.menu {
    width: 750px;
    /*float: left;*/
    padding: 0 0 0 68px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    /*height: 40px;*/
}



.menu li a {
    display: block;
    padding: 39px 20px 0 0;
    text-decoration: none;
    font-size: 22px;
    color: #333;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.15);
}

.menu li.active {
    background: url("../images/active_arrow.png") no-repeat 30% 0;
}

.menu li a:hover {
    color: #F7EC8B;
}

.menu li ul {
    margin: 17px 0 0 0;
    background: url("../images/dropped_nav.png") /*repeat-x*/ no-repeat 0px 8px;
    /*z-index: 3;*/
    position: absolute;
    top: 69px;
    left: 20px;
    opacity: 0;

    -webkit-transition: opacity .5s ease .1s;
    -moz-transition: opacity .5s ease .1s;
    -o-transition: opacity .5s ease .1s;
    -ms-transition: opacity .5s ease .1s;
    transition: opacity .5s ease .1s;

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;

}

.menu li ul li:first-child {
    background: url("../images/nav_arrow.png") no-repeat 17px 0px;
    }

.menu li:hover > ul {
    opacity: 1;
    }

.menu li ul li {
    float: none;
    padding: 10px 0 0px 0px;
    height: 0px;
    overflow: visible;


    -webkit-transition: height .5s ease .1s;
    -moz-transition: height .5s ease .1s;
    -o-transition: height .5s ease .1s;
    -ms-transition: height .5s ease .1s;
    transition: height .5s ease .1s;
}


.menu li ul li a {
    color: #ffffff;
    padding: 20px 0 0 0;
}

.menu li:hover >  ul li {
    height: 30px;
    overflow: visible;
    }

.menu li ul li a {
    white-space: nowrap;
    padding: 4px 0 4px 4px;
    margin: 0 20px 0 0;
    border: none;

}

/*****************************************header*image**************************************************/

.custom_header_image {
    overflow: hidden;
    width: 644px;
    height: 252px;
    /*position: absolute;*/
    /*left: 811px;*/
    top: 100px;
    /*top: 89px;*/
    /*z-index: 1;*/
    border: 10px #FFF solid;

    -webkit-box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;
    -ms-box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;
    box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;


    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
}
.custom_header_image p {
    display: block;
    position: relative;
    top: 153px;
    right: 20px;
    font-weight: bold;
    color: #333333;
    font-family: "Segoe UI",sans-serif;


}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.custom_sidebar {
    overflow: hidden;
    /*float: left;*/
    width: 320px;
    padding: 0 10px 0 0;
}

.custom_sidebar p {
    width: 260px;
    margin: 10px 0 10px 30px;

}
/*.sidebar ul.preaches {*/
    /*overflow: hidden;*/
    /*margin: 0 0 15px 30px;*/
/*}*/
/*.sidebar ul.preaches li {*/
    /*overflow: hidden;*/
    /*padding: 5px 0 15px;*/
    /*background: url("./images/preaches_line.png") no-repeat 0 87px;*/
/*}*/
/*.sidebar ul.preaches li h3 {*/
    /*line-height: 20px;*/
    /*font-family: "Century Gothic", sans-serif;*/
    /*font-size: 13px;*/
/*}*/
/*.sidebar ul.preaches li p {*/
    /*width: 260px;*/
    /*font-size: 13px;*/
/*}*/
/*.quote {*/
    /*overflow: hidden;*/
    /*width: 319px;*/
    /*height: 218px;*/
    /*margin: 0 0 0 15px;*/
    /*background: url("./images/quote.png") no-repeat;*/
/*}*/
/*.quote .date {*/
    /*margin: 30px 0 14px 36px;*/
    /*padding: 18px 0 0;*/
    /*background: url("./images/logo_mini.png") no-repeat;*/
/*}*/
/*.quote .date p {*/
    /*padding: 0 0 0 62px;*/
    /*line-height: 17px;*/
    /*font-size: 12px;*/
/*}*/
/*.quote p {*/
    /*width: 267px;*/
    /*padding: 0 0 0 30px;*/
    /*font-size: 15px;*/
/*}*/
/*.quote p  a {*/
    /*font-size: 15px;*/
    /*color: #000;*/
/*}*/
/*.sidebar a.tw_link {*/
    /*padding: 0 0 0 30px;*/
    /*font-family: Arial, sans-serif;*/
    /*font-size: 13px;*/
    /*color: #990000;*/
    /*line-height: 21px;*/
/*}*/



/***************tweeter************/

.quote {
    overflow: hidden;
    width: 319px;
    height: 218px;
    margin: 0 0 0 15px;

    background: url("../images/quote.png") no-repeat;
}
.quote .date {
    margin: 30px 0 14px 36px;
    padding: 18px 0 0;
    background: url("./images/logo_mini.png") no-repeat;
}
.quote .date p {
    padding: 0 0 0 62px;
    line-height: 17px;
    font-size: 12px;
}
.quote p {
    width: 267px;
    padding: 0 0 0 30px;
    font-size: 15px;
}
.quote p  a {
    font-size: 15px;
    color: #000;
}
.tw_link {
    padding: 0 0 0 30px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #990000;
    line-height: 21px;
}