/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body {
	width:100%;
	height:100%;
}
body {
	padding:0;
	margin:0;
	font-size:12px;
	font-family: "Myriad Pro", sans-serif; 
	color:#000;
	
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#wrapper {
	overflow: hidden;
	margin: 0 auto;
	width: 1600px;
    background-color: #DCC4A5;
}

.inner_wrapper {
    overflow: hidden;
    background: url("../images/innerwrapper_bg.png") repeat-y;
}
.logo_bg {
    background: url("../images/logo_bg.png") no-repeat 7px  bottom;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#header {
    overflow: hidden;
    height: 360px;
    background: url("../images/header.fw.png") no-repeat;

}
#header h1.logo {
    float: left;
	width: 258px;
	height: 187px;
	padding: 77px 0 0 333px;

}
#header h1.logo a {
    display: block;
    width: 258px;
    height: 187px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -500px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/
.menu {
    width: 750px;
    float: left;
    padding: 0 0 0 74px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
}



.menu li a {
    display: block;
    padding: 39px 20px 0 0;
    text-decoration: none;
    font-size: 22px;
    color: #333;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.15);
}

.menu li.active {
    background: url("../images/active_arrow.png") no-repeat 30% 0;
}

.menu li a:hover {
    color: #F7EC8B;
}

.menu li ul {
    position: absolute;
    top: 69px;
    left: 20px;
    margin: 17px 0 0 0;
    background: url("../images/dropped_nav.png")  no-repeat 0px 8px;
    z-index: 3;
    opacity: 0;

    -webkit-transition: opacity .5s ease .1s;
    -moz-transition: opacity .5s ease .1s;
    -o-transition: opacity .5s ease .1s;
    -ms-transition: opacity .5s ease .1s;
    transition: opacity .5s ease .1s;

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;

}

.menu li ul li:first-child {
    background: url("../images/nav_arrow.png") no-repeat 17px 0px;
}

.menu li:hover > ul {
    display: block;
    opacity: 1;
}

.menu li ul li {
    float: none;
    padding: 10px 0 0px 0px;
    height: 0px;
    overflow: visible;


    -webkit-transition: height .5s ease .1s;
    -moz-transition: height .5s ease .1s;
    -o-transition: height .5s ease .1s;
    -ms-transition: height .5s ease .1s;
    transition: height .5s ease .1s;
}


.menu li ul li a {
    color: #ffffff;
    padding: 20px 0 0 0;
    white-space: nowrap;
    padding: 4px 0 4px 4px;
    margin: 0 20px 0 0;
    border: none;

}

.menu li:hover >  ul li {
    height: 30px;
    overflow: visible;
}

/*----------------------------------------------------------------------------------*/

.custom_header_image {
    overflow: hidden;
    position: absolute;
    margin: 95px 0 0 657px;
    z-index: 1;
    width: 644px;
    height: 249px;
    border: solid #fff 11px;

    -webkit-box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;
    -ms-box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;
    box-shadow:0 1px 20px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3) inset;


    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
}
.custom_header_image p {
    display: block;
    position: relative;
    top: 153px;
    right: 20px;
    font-weight: bold;
    color: #333333;
    font-family: "Segoe UI",sans-serif;


}
/*----------------------------------------------------------------------------------*/
.guidance {
    overflow: hidden;
    padding: 0 274px 0 302px;
    margin: 0 0 13px;
    background: url("../images/guidance_bg.png") repeat-x;
    width: 1024px;
    height: 79px;
    box-shadow: 0 1px 5px 0;
    -webkit-box-shadow: 0 1px 5px 0;
    -moz-box-shadow: 0 1px 5px 0;
}
.guidance p {
    float: left;
    width: 245px;
    margin: 5px 0 0 47px;
    line-height: 21px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #333333;
}
.guidance h2 {
    float: left;
    margin: 22px 0 0 65px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
}
.guidance h2.whats_new {
    font-family: "Myriad Pro", sans-serif;
    color: #333333;
    font-weight: bold;

}
.guidance form.search {
    overflow: hidden;
    float: right;
    margin: 23px 13px 0 0;
}
.search label {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}
.search fieldset {
    border: 0 none;
}
.search input.search {
    border: solid 1px #525657;
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    box-shadow: 0 0 10px 1px #DDDFE0 inset;
    -moz-box-shadow: 0 0 10px 1px #DDDFE0 inset;
    -webkit-box-shadow: 0 0 10px 1px #DDDFE0 inset;
    background: url("../images/magnifying_glass.png") no-repeat 2px 6px #F8FAFC;
    height: 24px;
    padding: 0 0 0 18px;
    margin: 0;
}
.search input.submit {
    background-color: #60AFD7;
    border: solid 1px #FEFEFF;
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 5px 0 #7A7670;
    -moz-box-shadow: 0 2px 5px 0 #7A7670;
    -webkit-box-shadow: 0 2px 5px 0 #7A7670;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    margin: 2px 2px 2px 0;
    position: relative;
    top: 0;
    right: 4px;
}

.social_links {
    overflow: hidden;
    float: right;
    width: 83px;
    height: 44px;
    margin: 21px 0 0;
}
.social_links li {
    float: left;
    height: 37px;
    margin: 0 0 0 3px;
}
.social_links li a {
    text-indent: 100px;
    background: url("../images/social_links.png") no-repeat;
    display: block;
    height: 37px;
}

.social_links li.fb {
    width: 30px;
}

.social_links li.tw {
    width: 41px;
}
.social_links li.fb a {
    width: 30px;
    background-position: -2px -1px;
}
.social_links li.fb a:hover {
    background-position: -2px -40px;
}
.social_links li.tw  a {
    width: 41px;
    background-position: -32px -1px;
}
.social_links li.tw  a:hover {
    background-position: -32px -40px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#content {
    overflow: hidden;
    width: 1057px;
    margin: 0 auto 36px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    overflow: hidden;
    float: left;
    width: 320px;
    padding: 0 10px 0 0;
}

.custom_sidebar p {
    width: 260px;
    margin: 10px 0 10px 30px;

}
.quote {
    overflow: hidden;
    width: 319px;
    height: 218px;
    margin: 0 0 0 15px;

    background: url("../images/quote.png") no-repeat;
    display: table;
    vertical-align: bottom;
}
.avatar {
    margin: 48px 0 14px 36px;
    padding:0;
    float: left;
    border: 1px solid #000000;
}
.date {
    width: 120px;
    padding: 60px 0 0 102px;
    line-height: 17px;
    font-size: 12px;

}
.last_tweet {
    width: 267px;
    padding: 0 0 0 30px;
    font-size: 15px;
    clear: both;

}
.last_tweet  a {
    font-size: 15px;
    color: #000;
}
.tw_link {
    padding: 0 0 0 30px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #990000;
    line-height: 21px;

}
/*------------------------------------------------------------------------------------*/
/*-------------------------------------CONTAINER--------------------------------------*/
/*------------------------------------------------------------------------------------*/
.container {
    overflow: hidden;
    width: 678px;
    padding: 10px 0 0 10px;
}
.container p {
    padding: 0 0 31px 13px;
    font-size: 15px;
    line-height: 18px;
}
.container h3 {
    padding: 0 0 12px 18px;
    font-size: 22px;
    color: #333333;
    line-height: 22px;
}
/*-----------------------------map-----------------------------*/
.module_map {
    position: relative;
    width: 247px;
    height: 247px;
    margin: 0 30px 0 50px;
    z-index: 3;

    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
}
.custom_map {
    position: relative;
    top: -31px;
    z-index: 2;
}




/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#footer {
    overflow: hidden;
    height: 58px;
    margin: 35px 0 0;
    padding: 11px 286px 0 362px;
    border-top: 1px solid #8A8277;
    box-shadow: 0 0 35px 0 #FFFFFF;
    -moz-box-shadow: 0 0 35px 0 #FFFFFF;
    -webkit-box-shadow: 0 0 35px 0 #FFFFFF;
}
#footer  p {
    overflow: hidden;
    float: left;
    width: 300px;
    height: 49px;
    padding: 10px 0 0 0;
    font-size: 14px;
}
#footer  a {
    display: block;
    float: right;
    width: 79px;
    height: 39px;
    background: url("../images/designer_link.png") no-repeat;
    text-indent: -1400px;
}
#footer  a:hover {
    background-position: 0 -40px;
}







